@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

/*Common Styling Start*/
/* font-family: "Poppins", serif; */
/* font-family: "Inter", serif; */
.container {
  max-width: 890px;
  margin: 0 auto;
}

/*Common Styling End*/

/*Nav Styling Start*/
#navbar {
  margin-top: 56px;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left h6 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", serif;
}
.nav_right {
  display: flex;
  align-items: center;
  column-gap: 34px;
}
.menu ul {
  display: flex;
  column-gap: 34px;
}
.menu ul li {
}
.menu ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
}
.menu_icons {
  display: flex;
  align-items: center;
  column-gap: 34px;
}
.menu_icons img {
  height: 22px;
  width: 22px;
}
/*Nav Styling End*/
/*Common Banner Start*/
#banner {
  margin-top: 50px;
}

#banner .banner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .content_wrapper {
  width: 56%;
}
#banner .content_wrapper h6 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: bold;
  font-family: "Poppins", serif;
  padding-bottom: 16px;
}
#banner .content_wrapper p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", serif;
  padding-bottom: 16px;
}
#banner .content_wrapper button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  border: transparent;
}
.image_wrapper {
  width: 34%;
}
.image_wrapper img {
  width: 100%;
}
/*Common Banner End*/
/*Banner Styling Start*/
#clientLogo {
  padding-bottom: 100px;
}
.client_logo_wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.client_logo_wrapper img {
  padding: 36px 0;
}
/*Banner Styling End*/
/*Populer Styling Start*/
#populer {
  padding-bottom: 100px;
}
.populer_wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.populer_wrapper .heading h6 {
    color: #3A3A3A;
    font-weight: 400;
    font-size: 28px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Poppins", serif;
}
.card_wrapper {
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
}
.card_container .card{
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 15px;
}
.card_container .card img{
    width: 100%;
    padding-bottom: 16px;
}
.card_container .card h6{
    color: #18191F;
    font-weight: 500;
    font-size: 28px;
    font-family: "Poppins", serif;
    padding-bottom: 6px;
}
.card_container .card .price{
    color: #18191F;
    font-size: 24px;
    font-family: "Inter", serif;
    padding-bottom: 6px;
}
.card_container .card .short {
    color: #787885;
    width: 75%;
    font-size: 14px;
    font-weight: bold;
    font-family: "Inter", serif;
    padding-bottom: 6px;
    line-height: 180%;
}


/*Populer Styling End*/

/*Featured Styling Start*/
#Featured{
padding-bottom: 100px;
}
#Featured .featured_wrapper {
    display: flex;
    column-gap: 96px;
}
#Featured .featured_content{

}
#Featured .featured_content h5{
font-size: 35px;
font-weight: bold;
color: #0A0826;
font-family: "Poppins", serif;
margin-bottom: 16px;
}
#Featured .featured_content h6{
font-size: 16px;
font-weight: bold;
color: #6C6C6C;
font-family: "Poppins", serif;
margin-bottom: 16px;
}
#Featured .featured_content button{
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
    border: transparent;
}


/*Featured Styling End*/

/*Common Styling Start*/
/*Common Styling End*/

/*Common Styling Start*/
/*Common Styling End*/
